html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: relative;
  overflow: visible;
}

.header-width-maintainer {
  width: 100%;
  height: 1px;
}

.header-background-slant-wrapper {
  height: 50vh;
  width: 100%;
  position: absolute;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.2));
  z-index: -1;
}

.header-background-slant {
  box-sizing: border-box;
  background-color: rgb(4, 144, 187);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}

.header-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.header-image-container {
  margin-top: 50px;
  height: 50vh;
  width: 80%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  background-image: url('./imgs/angrycat.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.header-image-container a {
  color: inherit;
}

.header-name-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-name {
  bottom: 10px;
  right: 8px;
  position: absolute;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header-aboutme-title {
  font-size: 3rem;
}

.header-aboutme-text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(77, 77, 77);
  padding: 0px 10%;
  position: relative;
}

.anchor-github {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  text-decoration: none;
}

.anchor-github:hover {
  background-color: rgb(4, 144, 187);
}

i {
  font-size: 40px;
}

h1 {
  justify-self: center;
  align-self: center;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-card {
  width: 300px;
  height: 400px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.project-image-container {
  height: 60%;
}

.project-one .project-image-container {
  background-image: url('./imgs/battleship.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-two .project-image-container {
  background-image: url('./imgs/weatherapp.png');
  background-size: auto;
  background-position: center;
}

.project-three .project-image-container {
  background-image: url('./imgs/todolist.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-four .project-image-container {
  background-image: url('./imgs/calculator.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-five .project-image-container {
  background-image: url('./imgs/etchasketch.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-six .project-image-container {
  background-image: url('./imgs/tictactoe.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-icon-container {
  display: flex;
  align-items: center;
}

.anchor-project-new-window {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: inherit;
}

.anchor-project-new-window:hover {
  background-color: rgb(4, 144, 187);
}

i.project {
  font-size: 30px;
}

.material-symbols-outlined {
  font-size: 30px;
}

.project-info-text {
  padding: 5px 15px;
  font-size: 1.15rem;
  color: rgb(77, 77, 77);
}

footer {
  background-color: rgb(4, 144, 187);
  margin-top: 50px;
}

.footer-image-container {
  height: 70vh;
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  color: white;
  padding-bottom: 15px;
}

.footer-contact-title {
  font-size: 3rem;
  font-weight: bold;
  align-self: center;
  padding: 10px 0px;
}

.footer-contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}

.footer-contact-info-container a {
  align-self: center;
}

.footer-image-container {
  background-image: url('./imgs/blackcat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.footer-image-container a {
  color: inherit;
}

@media (701px <= width <= 1000px) {
  .header-content-wrapper {
    display: block;
  }

  .header-content-background {
    position: absolute;
    height: 160%;
    width: 90%;
    background-color: white;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    right: 15px;
    z-index: -1;
    transform: translateY(-30%);
  }

  .header-image-container {
    max-width: 350px;
    margin-left: 50px;
    margin-right: 40px;
    float: left;
  }

  .header-name {
    right: -15vw;
    top: 5px;
  }

  .header-aboutme-title {
    padding-top: 25vh;
    padding-bottom: 25px;
  }

  .header-aboutme-icons {
    display: none;
  }

  main {
    margin-top: 45px;
  }
}
